<div class="container mt-5">
  <div class="card card-body">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          [ngModel]="user?.name"
          (ngModelChange)="user.name = $event"
          required
          [readonly]="isReadOnly"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          name="email"
          id="email"
          class="form-control"
          [ngModel]="user?.email"
          (ngModelChange)="user.email = $event"
          required
          [readonly]="isReadOnly"
        />
      </div>
      <div class="form-group">
        <label for="email">Street</label>
        <input
          type="text"
          name="street"
          id="street"
          class="form-control"
          [ngModel]="user?.address.street"
          (ngModelChange)="user.address.street = $event"
          required
          [readonly]="isReadOnly"
        />
      </div>
      <div class="form-group">
        <label for="email">City</label>
        <input
          type="text"
          name="city"
          id="city"
          class="form-control"
          [ngModel]="user?.address.city"
          (ngModelChange)="user.address.city = $event"
          required
          [readonly]="isReadOnly"
        />
      </div>

      <button
        class="btn btn-primary"
        *ngIf="isReadOnly"
        (click)="isReadOnly = false"
      >
        Edit
      </button>
      <button class="btn btn-success" *ngIf="!isReadOnly" (click)="onEdit()">Save</button>
    </form>
  </div>
</div>
